:root {
  --light-background: #36393f;
  --dark-background: #1E1f22;
  --middle-background: #2B2D31;
  --dark-background-hover: #191a1c;
  --primary-text: #eee;
  --discord-primary: #5865f2;
  --discord-hover: #5865f2;

  --border-color: #525252;
  --darker-border-color: #242424;
}